<section id="about-us" class="about-us">
    <div class="container">
        <h2>О нас</h2>
        <div class="line"></div>
        <div class="about-us-wrapper">
            <div>
                <img src="img/robota-za-kordonom.jpg" alt="">
            </div>
            <div>
                <p>МЫ АГЕНСТВО ПО ТРУДОУСТРОЙСТВУ ЗА ГРАНИЦЕЙ , ВСЕ РАБОТОДАТЕЛИ С КОТОРЫМИ МЫ РАБОТАЕМ ОФИЦИАЛЬНЫЕ ,
                    ПРЕДПРИЯТИЯ КОТОРЫЕ ДЕЛАЕТ ОФИЦИАЛЬНЫЕ ПРИГЛАШЕНИЯ ВСЕМ НАШИМ КЛИЕНТАМ , ВСЕ АКТУАЛЬНЫЕ ВАКАНСИИ У
                    НАС НА САЙТЕ , МЫ ПОДДЕРЖИВАЕМ САЙТ НОВОСТЯМИ И ДОБАВЛЕНИЕМ НОВЫХ ВАКАНСИЙ.</p>
                <p>СОТРУДНИЧАЯ С НАМИ ВЫ ПОЛУЧАЕТЕ КАЧЕСТВЕННЫЙ СЕРВИС ПО ТРУДОУСТРОЙСТВУ ЗА ГРАНИЦЕ , ВАМ НЕ НАДО БУДЕТ
                    НИЧЕМ ЗАМОРАЧИВАТЬСЯ , МЫ МНОГО ЛЕТ ЗАТРУДНЯЕМ ЛЮДЕЙ ПО ВСЕМУ МИРУ , НАШ ОПЫТ РАБОТЫ В ДАННОЙ СФЕРЕ
                    БОЛЕЕ 10 ЛЕТ , ОТ ВАС НУЖНО БУДЕТ ТОЛЬКО ЖЕЛАНИЯ РАБОТАТЬ , ПРИЧЕМ РАБОТЫ В ЕС НЕ ТЯЖЕЛОЕ , СКАЖЕМ
                    ТАК ЧЕЛОВЕЧЕСКИЕ .</p>
            </div>
        </div>
        <ul>
            <li>ПОМОЩЬ В ОТКРЫТИЕ ВИЗЫ ( ПРИГЛАШЕНИЕ ОТ РАБОТОДАТЕЛЕЙ , ВОЕВОДА ПРИГЛАШЕНИЕ , ДРУГИЕ ВОПРОСЫ И ПОМОЩЬ В
                ОТКРЫТИИ )
            </li>
            <li>ТРУДОУСТРОЙСТВО ЗА ГРАНИЦЕЙ ( МЫ РАБОТАЕМ ТОЛЬКО С ОФИЦИАЛЬНЫМИ ПРЕДПРИЯТИЯМИ )</li>
            <li>ОРГАНИЗАЦИЯ ПОЕЗДКИ К МЕСТУ РАБОТЫ ( НАШИ БУСЫ ОТПРАВЛЯЮТСЯ КАЖДОЙ НЕДЕЛИ )</li>
            <li>ПОМОЩЬ НА ВСЕХ ЭТАПАХ ТРУДОУСТРОЙСТВА ОТ А ДО Я.</li>
        </ul>
        <p><b>Визовая Поддержка</b> Мы всегда готовы помочь в оформлении визы и других вопросов что относятся к
            выезду заграницу</p>
        <p><b>Индивидуальный Подход</b> К каждому клиенту индивидуальный подход , у нас нет национальных и
            языковых
            барьеров , мы обслуживаем клиентов как на русском та и на украинских языках.</p>
        <p><b>Связь</b> Мы Готовы помочь каждому кто к нам обратиться у нас отсутствует функция “не поднимать телефон”
            и игнорирование клиентов.</p>
    </div>
</section>
