<section class="banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-description">
                <h3>ОТКРОЙТЕ ДЛЯ СЕБЯ МНОГО РАБОЧИХ МЕСТ И НАЙДИТЕ ОТЛИЧНУЮ РАБОТУ.</h3>
                <h4>НАИВЫСШАЯ ОЦЕНКА ТЕХНИЧЕСКИХ ВАКАНСИЙ В ЕС, ОСНОВАННАЯ НА ПОЛЬЗОВАТЕЛЬСКИХ РЕЙТИНГАХ И ОТЗЫВАХ НА
                    EURO-RABOTA.</h4>
            </div>
            <div class="banner-btn pulse">
                <div class="call-now"><b>ЗВОНИТЕ СЕЙЧАС</b></div>
                <a href="tel:+380961980223">+380961980223</a>
                <a href="tel:+380739601932">+380739601932</a>
            </div>
        </div>
    </div>
</section>
