<section class="services">
    <div class="container">
        <h2>УСЛУГИ ПРЕДОСТАВЛЯЕМЫЕ НАШИМ АГЕНТСТВОМ</h2>
        <div class="services-info">
            <h4>ЧЕХИЯ</h4>

            <ul>
                <li>Документы на 3 – месячную визу включая вакансию – цену уточнять в оператора ( время ожидание
                    приглашения от 1 месяца, соответственно выезд на работу за 1,5 месяц)
                </li>
                <li>Документы на 2-х годовую рабочую карту – цену уточнять в оператора (время ожидание от 2-6 месяцев
                    )
                </li>
                <li><b>Долгосрочная виза – по запросу .</b></li>
            </ul>
            <h4>ПОЛЬША (БЕЗ ПРЕДОСТАВЛЕНИЯ РАБОТЫ)</h4>
            <ul>
                <li>Рабочая польская виза 180\180 – цену уточнять у оператора ( время ожидание до 2 недель )</li>
                <li>Сезонная виза делается до конца года (перебивает рабочку| визовый коридор) – цену уточнять в
                    оператора ( время ожидания до 30 дней )
                </li>
                <li>Студенческая виза 45 лет , нужны сканы атестата| 365\365 (перебивает рабочий коридор ) – цену
                    уточнять в оператора ( время ожидание до 1 месяца )
                </li>
                <li>Воеводская виза позволяет работать на территории Польши в течение целого года , перебивает рабочую
                    польскую визу – 365\365 – цену уточнять в оператора (время ожидание до 60 дней)
                </li>
                <li>Гостевое приглашение в Польшу 365\365 , перебивает рабочую визу- цену уточнять в оператора ( время ожидания до 30 дней)</li>
            </ul>

        </div>
    </div>
</section>
