<section class="vacancies">
    <div class="container">
        <h2>Вакансии</h2>
        <div class="line"></div>
        <div class="vacancies-wrapper">
            <div class="vacancy">
                <div>
                    <img src="img/globus.jpg" alt="">
                </div>
                <div class="vacancy-info">
                    <h3>ЗАВОД ПО ВИГОТОВЛЕННЮ ТЕЛЕВІЗОРІВ</h3>
                    <p>РОБОТА В ЧЕХІЇ ДЛЯ ЧОЛОВІКІВ</p>
                </div>
                <div class="vacancy-price">
                    <div class="job-location">
                        <b>Локація: </b>
                        <span>Пилзень, Чехия</span>
                    </div>
                    <div class="job-salary">
                        <b>Зарплата: </b>
                        <span>€1000 ~ €1200</span>
                    </div>
                </div>
                <div class="vacancy-btn">
                    <button>Обзор</button>
                </div>
            </div>
            <div class="vacancy">
                <div>
                    <img src="img/globus.jpg" alt="">
                </div>
                <div class="vacancy-info">
                    <h3>ЗАВОД ПО ВИГОТОВЛЕННЮ ТЕЛЕВІЗОРІВ</h3>
                    <p>РОБОТА В ЧЕХІЇ ДЛЯ ЧОЛОВІКІВ</p>
                </div>
                <div class="vacancy-price">
                    <div class="job-location">
                        <b>Локація: </b>
                        <span>Пилзень, Чехия</span>
                    </div>
                    <div class="job-salary">
                        <b>Зарплата: </b>
                        <span>€1000 ~ €1200</span>
                    </div>
                </div>
                <div class="vacancy-btn">
                    <button>Обзор</button>
                </div>
            </div>
        </div>
        <div class="show-more">
            <div class="btn">Show more</div>
        </div>
    </div>
</section>
