<section id="visa" class="visa">
    <div class="container">
        <h2>КРАТКОСРОЧНАЯ ВИЗА</h2>
        <div class="line"></div>
        <div class="visa-wrapper">
            <p>ОФИЦИАЛЬНОЕ НАЗВАНИЕ ЭТОЙ ВИЗЫ – КРАТКОСРОЧНАЯ ШЕНГЕНСКАЯ ВИЗА С ЦЕЛЬЮ ТРУДОУСТРОЙСТВА.
                ОН ПРЕДНАЗНАЧЕН ДЛЯ ИНОСТРАНЦЕВ ИЗ ТРЕТЬИХ СТРАН, КОТОРЫЕ ХОТЯТ ЛЕГАЛЬНО РАБОТАТЬ В ЧЕШСКОЙ РЕСПУБЛИКЕ.
                НАГРАЖДЕН НЕ БОЛЕЕ 90 ДНЕЙ.</p>
            <h4>КАК РАБОТАЕТ КРАТКОСРОЧНАЯ ВИЗА?</h4>
            <ul>
                <li>Сообщить о вакансии в Бюро Труда (LO).</li>
                <li>Мы подготовим документы для подачи заявления на трудоустройство иностранцев, в том числе трудовой
                    договор.
                </li>
                <li>Мы оформим разрешения на работу для иностранцев в Бюро по трудоустройству.</li>
                <li>Заполните заявление на получение шенгенской визы.</li>
                <li>Мы организуем собеседование в посольстве Чешской Республики.</li>
                <li>Мы проинформируем вас о ваших обязательствах, когда вы приедете в Чешскую Республику.</li>
            </ul>
            <h4>ДЛЯ КОГО НУЖНА КРАТКОСРОЧНАЯ ВИЗА?</h4>
            <ul>
                <li>Для всех граждан третьих стран, которые хотят легально работать в нашей стране</li>
                <li>Для всех работодателей, которым необходимо заполнить вакансии как можно скорее.</li>
                <li>Краткосрочные разрешения на работу не ограничиваются классификацией CZ-ISCO, поэтому их могут
                    получить и неквалифицированные рабочие из Украины.
                </li>
            </ul>
            <p>Не уверены, подходит ли вам этот тип визы? Не стесняйтесь обращаться к нам. Мы организуем для вас все
                формальности, связанные с выдачей краткосрочного разрешения на работу.</p>
            <h4>КАК ДОЛГО ВЫДАЕТСЯ КРАТКОСРОЧНАЯ ВИЗА И СКОЛЬКО ВРЕМЕНИ НУЖНО ДЛЯ ЕЕ УРЕГУЛИРОВАНИЯ?</h4>
            <p>Виза выдается максимум на 90 дней. Краткосрочные разрешения на работу не могут быть продлены и выдаются
                только конкретному работодателю. Поэтому иностранец с таким типом визы не может сменить работодателя.
                Мы организуем краткосрочную визу в течение 3 – 6 недель.</p>
        </div>
    </div>
</section>
